<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="login">
		<form action="login" method="post">
			<label for="Email"> Email </label>
			<input type="email" id="Email" name="Email" th:value="Email"
				placeholder="Email 입력하세요">
			<label for="password"> password </label>
			<input type="password" id="password" name="password" th:value="password"
				placeholder="비밀번호를 입력하세요"> <input type="submit">
		</form>
	</div>
</body>
</html>